*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}
.main-container{
    background: #353535;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-container h1{
    text-align: center;
    padding: 15px;
    color: aliceblue;
    padding-top: 100px;
}

.main-container .video-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.main-container .video-container .video{
    width: 300px;
    height: 300px;
    border: 5px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 5 15px rgba(0, 0, 0, .7);
    cursor: pointer;
    overflow: hidden;
}

.main-container .video-container .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2 linear;
}

.main-container .video-container .video:hover video{
    transform: scale(1.1);
}

.banner{
    font-weight: 700;
    font-size: 2.5rem;
}
.banner2{
    padding: 20px;
    font-size: 25px;
}

a.navbar-brand {
    font-size: 25px;
}
.navbar-nav{
    font-size: 20px;
    padding-left: 20px;
}

.nav-link{
    margin-left: 40px;
}
.container-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #f3080800; /* Set your desired background color */
    z-index: 999;  
}

section{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-wrap: wrap;
}
.container{
    padding-top: 20px;
}

.footer-content{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #2e2d2d;
    color: #ededed;
}

.footer-bottom {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    background-color: #2e2d2d;
}

.text{
    text-align: left;
    padding-right: 20px;
}


a {
    text-decoration: none;
    color: black;
}

.footer-middle {
    text-align: left;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul.social-media-icons {
    display: flex;
    list-style: none;
}

.footer-bottom p a{
    text-decoration: none;
    color: aliceblue;
}

.footer-bottom p{
    color: aliceblue;
}

ul.social-media-icons  li{
    padding-right: 20px;
}

.carousel{
    width: 100%;
    height: 100%;
    height: 580px;
}

.carousel-item{
    height: 100%;
    object-fit: cover;
}

.carousel-inner img {
    width: 800px;
    height: 580px;
    object-fit: cover;
}

.inside-image-carousel{
    display: flex;
}

.main-container .popup-video{
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: .8;
height : 100%;
width: 10%;
display: none;
}

.main-container .popup-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: solid 5px #ffffff;
    object-fit: cover;
}

.main-container .popup-video span{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 50px;
    color: #ffffff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media(max-width:768px){
    .container• .popup-video video{
        width: 95%;
    }
}


/* cards */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card h3{
    color: #5540fb;
  }
  .card h2{
        color: #121212;
        text-decoration: none;
        margin-top: 5px;
  }
  .card p{
        color: #939393;
        margin-top: 5px;
        margin-bottom: 1%;
        font-size: 16px;
        line-height: 24px;

  }
  .card {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .card video {
    align-self: center;
    width: 90%;
    height: 200px; /* Adjust the height as needed */
  }
  
  h3 {
    margin-top: 10px;
  }